.button_container {
  border: 1px solid white;
  border-radius: 8px;
  padding: 1rem 1rem;
  background-color: #ff9a71;
  text-align: center;
  font-weight: 400;
  width: 10rem;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
  }
}
